.letters{
	float: left;
	width: 30px;
	height: 30px;
	font-size: 15;
	border: 1px solid;
	text-align: center;
	display: block;
	margin: 5px;

}

.result {
	margin-top: 50px;
width: 350px;
height: 100px;
display: block;
}